In [22]:
import pandas as pd

teis_ifsp_df = pd.read_excel('../data/TEIS_IFSP_Teaming_Jan_2022-_Jan_2023.xlsx', sheet_name=0)
child_id_df = pd.read_excel('../data/TEIS_IFSP_Teaming_Jan_2022-_Jan_2023.xlsx', sheet_name=1)

c:\Users\Aaron\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [23]:
teis_ifsp_df.head()

,CHILD_ID,SERVICE_DATE,START_TIME,END_TIME,SERVICE_SETTING,SERVICE DELIVERY,ADD_USER,ADD_DATE,IFSP Teaming ID name,Agency Name,Agency Type,Service Name
0,457136,2022-01-21,09:30:00,10:30:00,Community-based,Service Delivered,LEECAROL1,2022-01-21 17:54:45,IEP Meeting,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
1,457136,2022-02-15,14:00:00,15:00:00,Community-based,Service Delivered,LEECAROL1,2022-02-16 05:29:12,Co-Visit,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
2,457585,2022-01-24,08:30:00,09:30:00,Telehealth,Service Delivered,MILLARDCATHERINE,2022-01-24 14:18:29,IEP Meeting,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
3,457852,2022-01-12,14:00:00,15:00:00,Community-based,Service Delivered,HEMELKATIE1,2022-01-18 10:39:51,IEP Meeting,LTVEC,EIRA,Dev. Therapy Prof - Home/Community
4,458051,2022-01-12,12:00:00,13:00:00,Telehealth,Service Delivered,JONESMEGAN,2022-01-12 13:46:48,IFSP Meeting,"First Steps, Inc (EIRA)",EIRA,Dev. Therapy Prof - Home/Community

In [24]:
child_id_df.head()

  POE  Child ID Referral Date Exit Date
0  ET    508615    2021-08-06       NaT
1  ET    488455    2021-11-02       NaT
2  ET    494500    2020-12-14       NaT
3  ET    515143    2021-11-22       NaT
4  ET    505490    2021-06-15       NaT

In [25]:
teis_ifsp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9543 entries, 0 to 9542
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CHILD_ID              9543 non-null   int64
 1   SERVICE_DATE          9543 non-null   datetime64[ns]
 2   START_TIME            9532 non-null   object
 3   END_TIME              9532 non-null   object
 4   SERVICE_SETTING       9533 non-null   object
 5   SERVICE DELIVERY      9543 non-null   object
 6   ADD_USER              9543 non-null   object
 7   ADD_DATE              9543 non-null   datetime64[ns]
 8   IFSP Teaming ID name  9543 non-null   object
 9   Agency Name           9543 non-null   object
 10  Agency Type           9543 non-null   object
 11  Service Name          9543 non-null   object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 894.8+ KB

In [26]:
child_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138664 entries, 0 to 138663
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   POE            138664 non-null  object
 1   Child ID       138664 non-null  int64
 2   Referral Date  138664 non-null  datetime64[ns]
 3   Exit Date      15607 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 4.2+ MB

In [27]:
#renaming columns
teis_ifsp_df.rename(columns={'CHILD_ID': 'child_id', 'SERVICE_DATE': 'service_date', 'START_TIME':'start_time', 'END_TIME': 'end_time', 'SERVICE_SETTING': 'service_setting', 'SERVICE_DELEVERY': 'service_delivery', 'ADD_USER': 'add_user', 'IFSP Teaming ID name': 'ifsp_teaming_id_name', 'Agency Name': 'agency_name', 'Agency Type': 'agency_type', 'Service Name': 'service_name'}, inplace=True)
child_id_df.rename(columns={'POE': 'poe', 'CHILD ID': 'child_id', 'Referral Date':'referral_date', 'Exit Date': 'exist_date'}, inplace=True)

In [28]:
#Getting an idea of number of each service provided
teis_ifsp_df.groupby('ifsp_teaming_id_name').count()

,child_id,service_date,start_time,end_time,service_setting,SERVICE DELIVERY,add_user,ADD_DATE,agency_name,agency_type,service_name
ifsp_teaming_id_name,,,,,,,,,,,
Co-Visit,4091,4091,4087,4087,4088,4091,4091,4091,4091,4091,4091
IEP Meeting,632,632,629,629,629,632,632,632,632,632,632
IFSP Meeting,4820,4820,4816,4816,4816,4820,4820,4820,4820,4820,4820

In [29]:
#Count of where services where provided
teis_ifsp_df.groupby('service_setting').count()

,child_id,service_date,start_time,end_time,SERVICE DELIVERY,add_user,ADD_DATE,ifsp_teaming_id_name,agency_name,agency_type,service_name
service_setting,,,,,,,,,,,
Community-based,1291,1291,1291,1291,1291,1291,1291,1291,1291,1291,1291
Home,4010,4010,4009,4009,4010,4010,4010,4010,4010,4010,4010
Other,628,628,628,628,628,628,628,628,628,628,628
Telehealth,3604,3604,3604,3604,3604,3604,3604,3604,3604,3604,3604

In [30]:
#dig down on telehealth services
tele_service = teis_ifsp_df[teis_ifsp_df['service_setting'] == 'Telehealth']
tele_service

,child_id,service_date,start_time,end_time,service_setting,SERVICE DELIVERY,add_user,ADD_DATE,ifsp_teaming_id_name,agency_name,agency_type,service_name
2,457585,2022-01-24,08:30:00,09:30:00,Telehealth,Service Delivered,MILLARDCATHERINE,2022-01-24 14:18:29,IEP Meeting,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
4,458051,2022-01-12,12:00:00,13:00:00,Telehealth,Service Delivered,JONESMEGAN,2022-01-12 13:46:48,IFSP Meeting,"First Steps, Inc (EIRA)",EIRA,Dev. Therapy Prof - Home/Community
5,458230,2022-01-21,15:30:00,16:30:00,Telehealth,Service Delivered,BROWNSTEPHANIE,2022-01-26 21:04:15,IFSP Meeting,Sunshine Early Intervention - Knox Cty ARC,EIRA,Dev. Therapy Prof - Home/Community
6,458850,2022-02-15,14:00:00,14:30:00,Telehealth,Service Delivered,BUCKCYNTHIA,2022-02-15 18:07:38,Co-Visit,"Physical Therapy Services, PA (EIRA)",EIRA,Dev. Therapy Prof - Home/Community
7,458851,2022-02-15,14:15:00,14:45:00,Telehealth,Service Delivered,BUCKCYNTHIA,2022-02-15 18:08:54,Co-Visit,"Physical Therapy Services, PA (EIRA)",EIRA,Dev. Therapy Prof - Home/Community
...,...,...,...,...,...,...,...,...,...,...,...,...
9526,539735,2023-01-31,10:00:00,12:00:00,Telehealth,Service Delivered,GLASSKATHERINE,2023-02-08 21:03:06,Co-Visit,LeBonheur EI & Dev (LEAD) (vendor),Independent,Evaluation - Speech Therapy
9532,539948,2023-01-31,12:30:00,13:30:00,Telehealth,Service Delivered,BOWESARAH,2023-02-01 16:03:54,Co-Visit,LeBonheur EI & Dev (LEAD) (EIRA),EIRA,Dev. Therapy Prof - Home/Community
9533,539948,2023-01-31,12:30:00,14:30:00,Telehealth,Service Delivered,LEEAMBER,2023-02-01 22:43:45,Co-Visit,LeBonheur EI & Dev (LEAD) (vendor),Independent,Evaluation - Physical Therapy
9536,540668,2023-01-20,09:00:00,09:30:00,Telehealth,Service Delivered,RICHARDSONMARY2,2023-01-23 16:14:37,IFSP Meeting,Expanding Horizons - ETSU,EIRA,Dev. Therapy Prof - Home/Community
9541,542077,2023-01-30,14:30:00,15:20:00,Telehealth,Service Delivered,FANELLASAMANTHA,2023-01-30 15:21:59,IFSP Meeting,Pediatric Language Clinic,EIRA,Dev. Therapy Prof - Home/Community

In [32]:
#Count of services being provided on telehealth by time
tele_service.groupby('ifsp_teaming_id_name').count()

,child_id,service_date,start_time,end_time,service_setting,SERVICE DELIVERY,add_user,ADD_DATE,agency_name,agency_type,service_name
ifsp_teaming_id_name,,,,,,,,,,,
Co-Visit,775,775,775,775,775,775,775,775,775,775,775
IEP Meeting,359,359,359,359,359,359,359,359,359,359,359
IFSP Meeting,2470,2470,2470,2470,2470,2470,2470,2470,2470,2470,2470